<!DOCTYPE html> <!-- HTML5文書であることを宣言 -->
<html> <!-- HTML文書のルート要素を開始 -->

<head> <!-- ヘッダー部分の開始 -->
	<title>Blackjack Game</title> <!-- ページのタイトルを設定 -->


	<link rel="stylesheet" type="text/css" href="/css/styles.css">

</head> <!-- ヘッダー部分の終了 -->

<body> <!-- ボディ部分の開始 -->
	<h1>Welcome to Blackjack!</h1> <!-- 見出しを表示 -->
	<form action="/start" method="get"> <!-- フォームを開始。'/start'にGETリクエストを送信 -->
		<button type="submit" class="large-button">Start Game</button> <!-- ボタンを表示。クリックするとフォームが送信される -->
	</form> <!-- フォームの終了 -->
</body> <!-- ボディ部分の終了 -->

</html> <!-- HTML文書の終了 -->