<!DOCTYPE html>
<html>

<head>
	<title>Playing Blackjack</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css"> <!-- CSSファイルのリンク -->
</head>

<body>

	<h1>Game in Progress...</h1>

	<div class="button-container"> <!-- ボタンを横に並べるためのコンテナ -->
		<form action="/stay" method="get" class="button-form">
			<button type="submit" class="large-button">Stay</button>
		</form>
		<form action="/add" method="get" class="button-form">
			<button type="submit" class="large-button">Add Card</button>
		</form>
		
		<!-- ディーラーのカードを表示 -->
		<div th:if="${dealerCards != null}" class="card-container">
			<h2>DEALER</h2>
			<div class="card-row">
				<!-- ディーラーのカードをループで表示 -->
				<div th:each="card : ${dealerCards}">
					<img th:src="@{${card.image}}" />
				</div>
			</div>
			<div class="center-line"></div> <!-- 中央線の追加 -->
		</div>

		<!-- プレイヤーのカードを表示 -->
		<div th:if="${playerCards != null}" class="card-container">
			<h2 class="player-header">PLAYER</h2>
			<div class="card-row player-cards">
				<!-- プレイヤーのカードをループで表示 -->
				<div th:each="card : ${playerCards}">
					<img th:src="@{${card.image}}" />
				</div>
			</div>
		</div>

		<div th:unless="${dealerCards != null and playerCards != null}">
			<p>No cards to display.</p>
		</div>


</body>

</html>